<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <header class="masthead text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <img
          class="masthead-avatar mb-5"
          src="assets/img/avataaars.svg"
          alt=""
        />
        <h1 class="masthead-heading text-uppercase mb-0">Start Angular</h1>
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <p class="masthead-subheading font-weight-light mb-0">
          Graphic Artist - Web Designer - Illustrator
        </p>
      </div>
    </header>
  </body>
</html>
